body {
    /* margin: 0;
    padding: 0; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

._s0b13 {
    background-color: rgb(59, 103, 235);
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: fit-content;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

._s0b23 h1 {
    color: white;
}

._s0b23 i {
    font-size: 9rem;
    margin: 1rem 1rem;
}
._s0b33 button {
    font-size: 1.19rem;
    font-weight: bold;
    background-color: rgb(240, 210, 39);
    padding: 0.5rem;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    width: 15rem;
    margin-top: 3rem;
    cursor: pointer;
}
._s0b33 h5 {
    font-size: 0.9rem;
    color: white;
}

/* Signi page Styles */

body {
    background-color: #f2f2f2;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(59, 103, 235);
    align-content: center;
    /* padding: 1rem; */
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-top-left-radius: 2.1rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
._s0h13 .fa-user {
    font-size: 5rem;
    /* margin-top: 1rem; */
}

.fa-google {
    background: conic-gradient(
            from -45deg,
            #ea4335 110deg,
            #4285f4 90deg 180deg,
            #34a853 180deg 270deg,
            #fbbc05 270deg
        )
        73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.username,
.email,
.password {
    display: flex;
    flex-direction: column;
}
label {
    color: gray;
    font-size: 1.1rem;
    margin: 0.3rem 0rem 0.3rem 0rem;
}
#username {
    font-weight: normal;
    margin: 0;
}
.inputs input {
    font-size: 1rem;

    padding: 0.5rem;
    outline: none;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 0.5rem;
}
.inputs input:focus {
    border: 2px solid rgb(166, 165, 165);
}
.inputs button,
.register {
    font-size: 1.19rem;
    font-weight: bold;
    background-color: rgb(240, 210, 39);
    padding: 0.7rem;
    border-radius: 0.7rem;
    outline: none;
    border: none;
    width: 17rem;
    margin-top: 1rem;
    cursor: pointer;
}

.inputs .error {
    margin-top: 0.5rem;
    color: red;
    font-weight: bold;
}
.media {
    text-align: center;
}
.media .options {
    margin: 0rem 1.5rem 0rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.1rem;
}
.link {
    text-decoration: none;
    color: blue;
}
.back {
    font-size: 1.7rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
}
.back:hover {
    background-color: gray;
    border-radius: 50%;
}
.username {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0rem 1rem 0rem;
}
.username .opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.opt {
    color: blue;
}

.username .opt h5 {
    cursor: pointer;
}
input::placeholder {
    color: black;
}

.toast {
    font-weight: bold;
    position: absolute;
    top: 3rem;
    right: 0rem;
    padding: 1rem;
    border: 0;
    background-color: red;
    color: white;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    animation: move 5s infinite 5s;
    /* display: none; */
    transform: translateX(-19%);
    animation: slide-in 1s;
    animation-iteration-count: 1;
}

.otp-container {
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    display: flex;
    margin: 0rem 0.3rem 0rem 0.3rem;
}

.otp-container:focus {
    border: 2px solid #f2f2f2 !important;
}

input::placeholder {
    font-size: 0.9rem;
    color: gray;
}

.forgot-password {
    color: blue;
    font-weight: bold;
    font-size: 0.93rem;
    margin: 0.3rem 0rem 0.3rem 0rem;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

@keyframes slide-in {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-19%);
        /* visibility: hidden; */
    }
}

@media screen and (max-width: 600px) {
    body {
        /* background-color: royalblue; */
        background-color: rgb(59, 103, 235);

        height: fit-content;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .icon {
        display: flex;
        justify-content: center;
        /* padding: 1rem; */
        margin-top: 1.7rem;
    }
    ._s0b13 {
        box-shadow: none;
        margin-top: 3rem;
    }
    ._s0b23 h1 {
        margin-top: 3rem;
    }
    ._s0b33 button {
        padding: 0.9rem;
        width: 19rem;
    }
    ._s0b23 i {
        font-size: 11rem;
        margin: 6.1rem 6.1rem;
    }
    .wrapper {
        box-shadow: none;
        flex-direction: column;
        position: static;
    }
    #login-wrapper {
        padding: 2.1rem 0rem 2.1rem 0rem;
    }
    #login-user {
        font-size: 7rem;
    }
    /* #error {
        padding: 0.1rem 0rem 0.1rem 0rem;
    } */

    #media i {
        padding: 0.1rem 0rem 0.1rem 0rem;
    }
    .inner-wrapper {
        /* height: 15rem; */
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        border-top-left-radius: 2.1rem;
        border-top-right-radius: 2.1rem;
        padding: 0.5rem 0rem 0.5rem 0rem;
    }
    input {
        font-size: 1.19rem;
        padding: 0.5rem;
        outline: none;
        border: 2px solid rgb(201, 201, 201);
        border-radius: 0.5rem;
    }
    .inputs button {
        padding: 0.9rem;
        width: 19rem;
        margin-top: 1rem;
    }
    .inputs input {
        padding: 0.7rem;
    }
    .media .fa-brands {
        margin-top: 0.3rem;
    }
    .media h5 {
        font-size: 1rem;
    }
    .inputs label {
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    ._s0h13 .fa-user {
        font-size: 5.7rem;
        margin-bottom: 15rem;
    }
    .inputs .error {
        margin: 0.3rem 0rem 0.3rem 0rem;
        font-size: 1rem;
        font-weight: bold;
    }
    #home-wrapper {
        padding: 5rem 0rem 5rem 0rem;
    }
}
